
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:ital,wght@1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
* {
  margin: 0%;
  border: border-box;
}
  .head-frame{
        width: 1420px;
        height: 120px;
        flex-shrink: 0;
        background: #f7eaea;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        display: flex;
  }

  .frame-img{
    width: 86.041px;
  height: 37px;
  flex-shrink: 0;
  margin-left: 170px;
  margin-top: 40px;
  }
  .frame-name{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 32px;

  }
.fm-a{
  color: rgb(255, 72, 133);
}


  .icon-frame{
    display: flex;
    color: #3C354F;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   margin-left: 500px;
   margin-top: 50px;

    
  }
  .icon-info{
    display: flex;
  }
.i-c{
  margin-left: 23px
}

  .icon-main{
    display: flex;
    width: 150px;
    height: 56px;
    border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  text-align: center;
  

  }

  /* navber finised here */
  
  .banner-left{
 background-image: url(images/Group\ 14.png);
 text-align: left;
 margin: 90px 80px 0px 100px;
 

  }
  .play{
    color: #0B0223;

font-size: 48px;
font-weight: 600;
text-transform: uppercase;
  }
  .play-two{
    
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
.banner-line{
  display: grid;
padding: 10px 10px 10px 10px;
font-size: 20px;
font-weight: 500;
}
.main-banner{
  display: flex;
}
.banner-button{
  display: inline-flex;
padding: 20px 20px 20px 20px;
align-items: center;
gap: 5px;
border-radius: 20px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}
.banner-butto{
  display: inline-flex;
padding: 20px 20px 20px 20px;
align-items: center;
gap: 5px;
border-radius: 20px;
background: #4EC5F7;
color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}
.button{
  margin-top: 30px;
}
/* banner end here */
.main-first{
  display: flex;
}
.main-title{
  text-align: right;
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 80px;
}
.main-cont{
  color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 30px;
}
.main-button{
  
  display: inline-flex;
  padding: 20px 20px 20px 20px;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 300px;
  margin-top: 30px;
}
.main-last{
  color: #534C64;
text-align: right;
font-size: 24px;
font-weight: 500;
line-height: 45px; /* 187.5% */
margin-top: 20px;
}
